@charset "UTF-8";
*, :after, :before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

a {
    background-color: transparent
}

strong {
    font-weight: 400 er
}

small {
    font-size: 80%
}

img {
    border-style: none
}

button, input, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

textarea {
    resize: none !important;
    overflow: hidden;
}

button, input {
    overflow: visible
}

button {
    text-transform: none
}

[type=submit], button {
    -webkit-appearance: button
}

[type=submit]::-moz-focus-inner, button::-moz-focus-inner {
    border-style: none;
    padding: 0
}

[type=submit]:-moz-focusring, button:-moz-focusring {
    outline: 1px dotted ButtonText
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

a {
    background-color: transparent
}

strong {
    font-weight: 400 er
}

small {
    font-size: 80%
}

img {
    border-style: none
}

button, input, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button, input {
    overflow: visible
}

button {
    text-transform: none
}

[type=submit], button {
    -webkit-appearance: button
}

[type=submit]::-moz-focus-inner, button::-moz-focus-inner {
    border-style: none;
    padding: 0
}

[type=submit]:-moz-focusring, button:-moz-focusring {
    outline: 1px dotted ButtonText
}


::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}


body, html {
    height: 100%
}

html {
    font-size: 16px
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    min-width: 320px;
    background: #fff;
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.4285em;
    color: rgba(0, 0, 0, .87)
}

h1, h3 {
    font-family: Roboto, Arial, sans-serif;
    line-height: 1.28571429em;
    margin: calc(2rem - .1428571428571429em) 0 1rem;
    font-weight: 400;
    padding: 0
}

h1 {
    min-height: 1rem;
    font-size: 2rem
}

h3 {
    font-size: 1.28571429rem
}

h1:first-child, h3:first-child {
    margin-top: 0
}

h3:last-child {
    margin-bottom: 0
}

p {
    margin: 0 0 1em;
    line-height: 1.4285em;
    text-align: justify;
}

p:first-child {
    margin-top: 0
}

p:last-child {
    margin-bottom: 0
}

a {
    color: #4183c4;
    text-decoration: none
}

a:hover {
    color: #1e70bf;
    text-decoration: none
}

::-webkit-selection {
    background-color: #cce2ff;
    color: rgba(0, 0, 0, .87)
}

::selection {
    background-color: #cce2ff;
    color: rgba(0, 0, 0, .87)
}

input::-webkit-selection, textarea::-webkit-selection {
    background-color: rgba(100, 100, 100, .4);
    color: rgba(0, 0, 0, .87)
}

input::selection, textarea::selection {
    background-color: rgba(100, 100, 100, .4);
    color: rgba(0, 0, 0, .87)
}

body ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
    height: 10px
}

body ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, .1);
    border-radius: 0
}

body ::-webkit-scrollbar-thumb {
    cursor: pointer;
    border-radius: 5px;
    background: rgba(0, 0, 0, .25);
    -webkit-transition: color .2s ease;
    transition: color .2s ease
}

body ::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(0, 0, 0, .15)
}

body ::-webkit-scrollbar-thumb:hover {
    background: rgba(128, 135, 139, .8)
}

/*!
 * # Fomantic-UI - Button
 * http://github.com/fomantic/Fomantic-UI/
 *
 *
 * Released under the MIT license
 * http://opensource.org/licenses/MIT
 *
 */
.mobile-footer {
    display: none;
}
.ui.button {
    cursor: pointer;
    display: inline-block;
    min-height: 1em;
    outline: 0;
    border: none;
    vertical-align: baseline;
    background: #e0e1e2 none;
    color: rgba(0, 0, 0, .6);
    font-family: Roboto, Arial, sans-serif;
    margin: 4px;
    padding: .78571429em 1.5em .78571429em;
    text-transform: none;
    text-shadow: none;
    font-weight: 400;
    line-height: 1em;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    border-radius: .28571429rem;
    -webkit-box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34, 36, 38, .15) inset;
    box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34, 36, 38, .15) inset;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: opacity .1s ease, background-color .1s ease, color .1s ease, background .1s ease, -webkit-box-shadow .1s ease;
    transition: opacity .1s ease, background-color .1s ease, color .1s ease, background .1s ease, -webkit-box-shadow .1s ease;
    transition: opacity .1s ease, background-color .1s ease, color .1s ease, box-shadow .1s ease, background .1s ease;
    transition: opacity .1s ease, background-color .1s ease, color .1s ease, box-shadow .1s ease, background .1s ease, -webkit-box-shadow .1s ease;
    will-change: auto;
    -webkit-tap-highlight-color: transparent
}

.ui.button:hover {
    background-color: #cacbcd;
    background-image: none;
    -webkit-box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34, 36, 38, .15) inset;
    box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34, 36, 38, .15) inset;
    color: rgba(0, 0, 0, .8)
}

.ui.button:hover .icon {
    opacity: .85
}

.ui.button:focus {
    background-color: #cacbcd;
    color: rgba(0, 0, 0, .8);
    background-image: none;
    -webkit-box-shadow: '';
    box-shadow: ''
}

.ui.button:focus .icon {
    opacity: .85
}

.ui.button:active {
    background-color: #babbbc;
    background-image: '';
    color: rgba(0, 0, 0, .9);
    -webkit-box-shadow: 0 0 0 1px transparent inset, none;
    box-shadow: 0 0 0 1px transparent inset, none
}

.ui.button:disabled {
    cursor: default;
    opacity: .45 !important;
    background-image: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    pointer-events: none !important
}

.ui.facebook.button {
    background-color: #3b5998;
    color: #fff;
    text-shadow: none;
    background-image: none;
    -webkit-box-shadow: 0 0 0 0 rgba(34, 36, 38, .15) inset;
    box-shadow: 0 0 0 0 rgba(34, 36, 38, .15) inset
}

.ui.facebook.button:hover {
    background-color: #304d8a;
    color: #fff;
    text-shadow: none
}

.ui.facebook.button:active {
    background-color: #2d4373;
    color: #fff;
    text-shadow: none
}

.ui.twitter.button {
    background-color: #1da1f2;
    color: #fff;
    text-shadow: none;
    background-image: none;
    -webkit-box-shadow: 0 0 0 0 rgba(34, 36, 38, .15) inset;
    box-shadow: 0 0 0 0 rgba(34, 36, 38, .15) inset
}

.ui.twitter.button:hover {
    background-color: #0298f3;
    color: #fff;
    text-shadow: none
}

.ui.twitter.button:active {
    background-color: #0c85d0;
    color: #fff;
    text-shadow: none
}

.ui.youtube.button {
    background-color: red;
    color: #fff;
    text-shadow: none;
    background-image: none;
    -webkit-box-shadow: 0 0 0 0 rgba(34, 36, 38, .15) inset;
    box-shadow: 0 0 0 0 rgba(34, 36, 38, .15) inset
}

.ui.youtube.button:hover {
    background-color: #e60000;
    color: #fff;
    text-shadow: none
}

.ui.youtube.button:active {
    background-color: #c00;
    color: #fff;
    text-shadow: none
}

.ui.vk.button {
    background-color: #45668e;
    color: #fff;
    background-image: none;
    -webkit-box-shadow: 0 0 0 0 rgba(34, 36, 38, .15) inset;
    box-shadow: 0 0 0 0 rgba(34, 36, 38, .15) inset
}

.ui.vk.button:hover {
    background-color: #395980;
    color: #fff
}

.ui.vk.button:active {
    background-color: #344d6c;
    color: #fff
}

.ui.button > .icon:not(.button) {
    height: auto;
    opacity: .8;
    margin: 0 .42857143em 0 -.21428571em;
    -webkit-transition: opacity .1s ease;
    transition: opacity .1s ease;
    vertical-align: '';
    color: ''
}

.ui.button {
    font-size: 1rem
}

.ui.ui.ui.ui.big.button {
    font-size: 1.28571429rem
}

.ui.icon.button {
    padding: .78571429em .78571429em .78571429em
}

.ui.icon.button > .icon {
    opacity: .9;
    margin: 0 !important;
    vertical-align: top
}

.ui.circular.button {
    border-radius: 10em
}

.ui.circular.button > .icon {
    width: 1em;
    vertical-align: baseline
}

.ui.red.button {
    background-color: red;
    color: #fff;
    text-shadow: none;
    background-image: none
}

.ui.red.button {
    -webkit-box-shadow: 0 0 0 0 rgba(34, 36, 38, .15) inset;
    box-shadow: 0 0 0 0 rgba(34, 36, 38, .15) inset
}

.ui.red.button:hover {
    background-color: #d50000;
    color: #fff;
    text-shadow: none
}

.ui.red.button:focus {
    background-color: #d50000;
    color: #fff;
    text-shadow: none
}

.ui.red.button:active {
    background-color: #d50000;
    color: #fff;
    text-shadow: none
}

/*!
 * # Fomantic-UI - Container
 * http://github.com/fomantic/Fomantic-UI/
 *
 *
 * Released under the MIT license
 * http://opensource.org/licenses/MIT
 *
 */
.ui.container {
    display: block;
    max-width: 100% !important;
}

@media only screen and (max-width: 767.98px) {
    .ui.container {
        width: auto !important;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
    .ui.container {
        width: 723px;
        margin-left: auto !important;
        margin-right: auto !important
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
    .ui.container {
        width: 933px;
        margin-left: auto !important;
        margin-right: auto !important
    }
}

@media only screen and (min-width: 1200px) {
    .ui.container {
        width: 1127px;
        margin-left: auto !important;
        margin-right: auto !important
    }
}

.ui.header {
    border: none;
    margin: calc(2rem - .1428571428571429em) 0 1rem;
    padding: 0 0;
    font-family: Roboto, Arial, sans-serif;
    font-weight: 400;
    line-height: 1.28571429em;
    text-transform: none;
    color: rgba(0, 0, 0, .87)
}

.ui.header:first-child {
    margin-top: -.14285714em
}

.ui.header:last-child {
    margin-bottom: 0
}

h1.ui.header {
    font-size: 2rem
}

h3.ui.header {
    font-size: 1.28571429rem
}

@font-face {
    font-family: Icons;
    src: url(../css/fonts/icons.eot);
    src: url(../css/fonts/icons.eot#iefix) format('embedded-opentype'), url(../css/fonts/icons.woff) format('woff'), url(../css/fonts/icons.ttf) format('truetype'), url(../css/fonts/icons.svg#icons) format('svg');
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-decoration: inherit;
    text-transform: none
}

i.icon {
    display: inline-block;
    opacity: 1;
    margin: 0 .25rem 0 0;
    width: 1.18em;
    height: 1em;
    font-family: Icons;
    font-style: normal;
    font-weight: 400;
    text-decoration: inherit;
    text-align: center;
    speak: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

i.icon:before {
    background: 0 0 !important
}

i.icon:active, i.icon:hover {
    opacity: 1
}

i.icon {
    font-size: 1em
}

i.big.big.big.icon {
    line-height: 1;
    vertical-align: middle;
    font-size: 2em
}

i.icon.calendar:before {
    content: "\f133"
}

i.icon.chevron.right:before {
    content: "\f054"
}

i.icon.eye:before {
    content: "\f06e"
}

i.icon.play:before {
    content: "\f04b"
}

i.icon.search:before {
    content: "\f002"
}

i.icon.sidebar:before {
    content: "\f0c9"
}


i.icon.calendar:before {
    content: "\f133"
}

i.icon.chevron.right:before {
    content: "\f054"
}

i.icon.eye:before {
    content: "\f06e"
}

i.icon.play:before {
    content: "\f04b"
}

i.icon.search:before {
    content: "\f002"
}

i.icon.sidebar:before {
    content: "\f0c9"
}

i.icon.facebook:before {
    content: "\f09a";
    font-family: brand-icons
}

i.icon.facebook.f:before {
    content: "\f39e";
    font-family: brand-icons
}

i.icon.twitter:before {
    content: "\f099";
    font-family: brand-icons
}

i.icon.vk:before {
    content: "\f189";
    font-family: brand-icons
}

i.icon.youtube:before {
    content: "\f167";
    font-family: brand-icons
}

i.icon.youtube.play:before {
    content: "\f167";
    font-family: brand-icons
}

@font-face {
    font-family: brand-icons;
    src: url(../css/fonts/brand-icons.eot);
    src: url(../css/fonts/brand-icons.eot#iefix) format('embedded-opentype'),  url(../css/fonts/brand-icons.woff) format('woff'), url(../css/fonts/brand-icons.svg#icons) format('svg');
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-decoration: inherit;
    text-transform: none
}

i.icon.facebook:before {
    content: "\f09a";
    font-family: brand-icons
}

i.icon.facebook.f:before {
    content: "\f39e";
    font-family: brand-icons
}

i.icon.twitter:before {
    content: "\f099";
    font-family: brand-icons
}

i.icon.vk:before {
    content: "\f189";
    font-family: brand-icons
}

i.icon.youtube:before {
    content: "\f167";
    font-family: brand-icons
}

i.icon.youtube.play:before {
    content: "\f167";
    font-family: brand-icons
}

/*!
 * # Fomantic-UI - Image
 * http://github.com/fomantic/Fomantic-UI/
 *
 *
 * Released under the MIT license
 * http://opensource.org/licenses/MIT
 *
 */
.ui.image {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    background-color: transparent
}

img.ui.image {
    display: block;
    width: 100%;
    max-width: 220px;
    margin: 20px auto;
}

.ui.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ui.logo span {
    display: inline-block;
    font-size: 41px;
    line-height: 1;
    font-weight: 700;
    text-transform: uppercase;
    color: #000;
}
.ui.list {
    list-style-type: none;
    margin: 1em 0;
    padding: 0 0
}

.ui.list:first-child {
    margin-top: 0;
    padding-top: 0
}

.ui.list:last-child {
    margin-bottom: 0;
    padding-bottom: 0
}

.ui.list > .item {
    display: list-item;
    table-layout: fixed;
    list-style-type: none;
    list-style-position: outside;
    padding: .21428571em 0;
    line-height: 1.14285714em
}

.ui.list > .item:after {
    content: '';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

.ui.list > .item:first-child {
    padding-top: 0
}

.ui.list > .item:last-child {
    padding-bottom: 0
}

.ui.list > .item > .content {
    line-height: 1.14285714em;
    color: rgba(0, 0, 0, .87)
}

.ui.horizontal.list {
    display: inline-block;
    font-size: 0
}

.ui.horizontal.list > .item {
    display: inline-block;
    margin-right: 10px;
    font-size: 1rem
}

.ui.horizontal.list > .item .calendar  {
    margin: 0;
}

.ui.horizontal.list > .item > .content {
    vertical-align: middle
}

.ui.horizontal.list > .item:first-child, .ui.horizontal.list > .item:last-child {
    padding-top: .21428571em;
    padding-bottom: .21428571em
}

.ui.list {
    font-size: 1em
}

.ui.horizontal.list > .item {
    font-size: 1rem
}

/*!
 * # Fomantic-UI - Loader
 * http://github.com/fomantic/Fomantic-UI/
 *
 *
 * Released under the MIT license
 * http://opensource.org/licenses/MIT
 *
 */

/*!
 * # Fomantic-UI - Loader
 * http://github.com/fomantic/Fomantic-UI/
 *
 *
 * Released under the MIT license
 * http://opensource.org/licenses/MIT
 *
 */

.ui.placeholder > :before {
    background-color: #fff
}

.ui.inverted.placeholder > :before {
    background-color: #1b1c1d
}

/*!
 * # Fomantic-UI - Rail
 * http://github.com/fomantic/Fomantic-UI/
 *
 *
 * Released under the MIT license
 * http://opensource.org/licenses/MIT
 *
 *//*!
 * # Fomantic-UI - Reveal
 * http://github.com/fomantic/Fomantic-UI/
 *
 *
 * Released under the MIT license
 * http://opensource.org/licenses/MIT
 *
 *//*!
 * # Fomantic-UI - Segment
 * http://github.com/fomantic/Fomantic-UI/
 *
 *
 * Released under the MIT license
 * http://opensource.org/licenses/MIT
 *
 */
.ui.segment {
    position: relative;
    background: #fff;
    -webkit-box-shadow: 0 1px 2px 0 rgba(34, 36, 38, .15);
    box-shadow: 0 1px 2px 0 rgba(34, 36, 38, .15);
    margin: 1rem 0;
    padding: 1em 1em;
    border-radius: .28571429rem;
    border: 1px solid rgba(34, 36, 38, .15)
}

.ui.segment:first-child {
    margin-top: 0
}

.ui.segment:last-child {
    margin-bottom: 0
}

.ui.vertical.segment {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    background: none transparent;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    border-bottom: 1px solid rgba(34, 36, 38, .15)
}

.ui.vertical.segment:last-child {
    border-bottom: none
}

.ui.basic.segment {
    background: none transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    border-radius: 0;
    padding-left: 20px;
    padding-right: 20px;
}

.ui.inverted.red.segment.segment.segment.segment.segment {
    background-color: red;
    color: #fff
}

.ui[class*="center aligned"].segment {
    text-align: center
}

.ui.inverted.segment {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none
}

.ui.inverted.segment {
    background: #1b1c1d;
    color: rgba(255, 255, 255, .9)
}

.ui.secondary.segment {
    background: #f3f4f5;
    color: rgba(0, 0, 0, .6)
}

.ui.segment {
    font-size: 1rem
}

.ui.breadcrumb {
    line-height: 1.4285em;
    display: inline-block;
    margin: 0 0;
    vertical-align: middle
}

.ui.breadcrumb:first-child {
    margin-top: 0
}

.ui.breadcrumb:last-child {
    margin-bottom: 0
}

.ui.breadcrumb .divider {
    display: inline-block;
    opacity: .7;
    margin: 0 .21428571rem 0;
    font-size: .92857143em;
    color: rgba(0, 0, 0, .4);
    vertical-align: baseline
}

.ui.breadcrumb a {
    color: #4183c4
}

.ui.breadcrumb a:hover {
    color: #1e70bf
}

.ui.breadcrumb .icon.divider {
    font-size: .85714286em;
    vertical-align: baseline
}

.ui.breadcrumb a.section {
    cursor: pointer
}

.ui.breadcrumb .section {
    display: inline-block;
    margin: 0;
    padding: 0
}

.ui.breadcrumb .active.section {
    font-weight: 400
}

.ui.breadcrumb {
    font-size: 1rem
}

/*!
 * # Fomantic-UI - Form
 * http://github.com/fomantic/Fomantic-UI/
 *
 *
 * Released under the MIT license
 * http://opensource.org/licenses/MIT
 *
 */
.ui.form {
    position: relative;
    max-width: 100%
}

.ui.form .field {
    clear: both;
    margin: 0 0 1em
}

.ui.form .field:last-child {
    margin-bottom: 0
}

.ui.form input:not([type]), .ui.form textarea {
    width: 100%;
    vertical-align: top
}

.ui.form ::-webkit-datetime-edit, .ui.form ::-webkit-inner-spin-button {
    height: 1.21428571em
}

.ui.form input:not([type]) {
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
    outline: 0;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    line-height: 1.21428571em;
    padding: .67857143em 1em;
    font-size: 1em;
    background: #fff;
    border: 1px solid rgba(34, 36, 38, .15);
    color: rgba(0, 0, 0, .87);
    border-radius: .28571429rem;
    -webkit-box-shadow: 0 0 0 0 transparent inset;
    box-shadow: 0 0 0 0 transparent inset;
    -webkit-transition: color .1s ease, border-color .1s ease;
    transition: color .1s ease, border-color .1s ease
}

.ui.form textarea {
    text-align: left;
    margin: 0;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    padding: .78571429em 1em;
    background: #fff;
    border: 1px solid rgba(34, 36, 38, .15);
    outline: 0;
    color: rgba(0, 0, 0, .87);
    border-radius: .28571429rem;
    -webkit-box-shadow: 0 0 0 0 transparent inset;
    box-shadow: 0 0 0 0 transparent inset;
    -webkit-transition: color .1s ease, border-color .1s ease;
    transition: color .1s ease, border-color .1s ease;
    font-size: 1em;
    font-family: Roboto, Arial, sans-serif;
    line-height: 1.2857;
    resize: vertical
}

.ui.form textarea {
    vertical-align: top
}

.ui.form .field.field input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 100px ivory inset !important;
    box-shadow: 0 0 0 100px ivory inset !important;
    border-color: #e5dfa1 !important
}

.ui.form .field.field input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 100px ivory inset !important;
    box-shadow: 0 0 0 100px ivory inset !important;
    border-color: #d5c315 !important
}

.ui.form ::-webkit-input-placeholder {
    color: rgba(191, 191, 191, .87)
}

.ui.form :-ms-input-placeholder {
    color: rgba(191, 191, 191, .87) !important
}

.ui.form ::-moz-placeholder {
    color: rgba(191, 191, 191, .87)
}

.ui.form :focus::-webkit-input-placeholder {
    color: rgba(115, 115, 115, .87)
}

.ui.form :focus:-ms-input-placeholder {
    color: rgba(115, 115, 115, .87) !important
}

.ui.form :focus::-moz-placeholder {
    color: rgba(115, 115, 115, .87)
}

.ui.form input:not([type]):focus {
    color: rgba(0, 0, 0, .95);
    border-color: #85b7d9;
    border-radius: .28571429rem;
    background: #fff;
    -webkit-box-shadow: 0 0 0 0 rgba(34, 36, 38, .35) inset;
    box-shadow: 0 0 0 0 rgba(34, 36, 38, .35) inset
}

.ui.form textarea:focus {
    color: rgba(0, 0, 0, .95);
    border-color: #85b7d9;
    border-radius: .28571429rem;
    background: #fff;
    -webkit-box-shadow: 0 0 0 0 rgba(34, 36, 38, .35) inset;
    box-shadow: 0 0 0 0 rgba(34, 36, 38, .35) inset;
    -webkit-appearance: none
}

.ui.form .field :disabled {
    pointer-events: none;
    opacity: .45
}

.ui.form {
    font-size: 1rem
}

/*!
 * # Fomantic-UI - Grid
 * http://github.com/fomantic/Fomantic-UI/
 *
 *
 * Released under the MIT license
 * http://opensource.org/licenses/MIT
 *
 */
.ui.grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    padding: 0
}


.ui.grid > * {

}

.ui.grid > .column:only-child {
    width: 100%
}

.ui.grid > [class*="four wide"].column {
    width: 25% !important
}

.ui.grid > [class*="five wide"].column {
    width: 31.25% !important
}

.ui.grid > [class*="six wide"].column {
    width: 37.5% !important
}

.ui.grid > [class*="ten wide"].column {
    width: 62.5% !important
}

.ui.grid > [class*="eleven wide"].column {
    width: 68.75% !important
}

.ui.grid > [class*="twelve wide"].column {
    width: 75% !important
}

.ui.grid > [class*="sixteen wide"].column {
    width: 100% !important
}

@media only screen and (min-width: 320px) and (max-width: 767.98px) {

    .ui.grid > [class*="ten wide mobile"].column {
        width: 62.5% !important
    }
}

@media only screen and (min-width: 768px) and (max-width: 991.98px) {

    .ui.grid > [class*="five wide tablet"].column {
        width: 31.25% !important
    }

    .ui.grid > [class*="eleven wide tablet"].column {
        width: 68.75% !important
    }
}

@media only screen and (min-width: 992px) {

    .ui.grid > [class*="four wide computer"].column {
        width: 25% !important
    }

    .ui.grid > [class*="twelve wide computer"].column {
        width: 75% !important
    }
}

.ui.grid > [class*="right aligned"].column.column {
    text-align: right;
    -ms-flex-item-align: inherit;
    align-self: inherit
}

.ui[class*="equal width"].grid > .wide.column {
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0
}

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
    .ui[class*="tablet reversed"].grid {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse
    }
}

@media only screen and (min-width: 992px) {
    .ui[class*="computer reversed"].grid {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse
    }
}

@media only screen and (max-width: 1219px) {
    .spaced-bottom {
        font-size: 18px;
    }
}
@media only screen and (max-width: 767.98px) {
    .ui.stackable.grid {
        width: auto;
        margin-left: 0 !important;
        margin-right: 0 !important
    }
    .ui.secondary.segment {
        display: none;

    }
    .mobile-footer {
        display: block;
        background: #f3f4f5;
        color: rgba(0, 0, 0, .6);
        text-align: center;
        padding: 20px 0;
    }
    .mobile-footer a{
        display: block;
        margin: 0 auto;
        text-align: center;
        max-width: 250px;
    }
    .mobile-footer a:first-child {
        padding-bottom: 10px;
    }
    .mobile-footer p {
        text-align: center;
        text-transform: uppercase;
        font-size: 16px;
        color: #1b1c1d;
    }
    #top {
        display: none;
    }
    .ui.stackable.grid > .wide.column {
        width: 100% !important;
        margin: 0 0 !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
    }

    .ui.container > .ui.stackable.grid > .column {
        padding-left: 0 !important;
        padding-right: 0 !important
    }


}

@media only screen and (max-width: 767.98px) {
    .mobile-hidden {
        display: none;
    }
    h1.ui.header.full-page {
        margin-bottom: 0;
    }

    .logo-bottom {
        display: block !important;
        margin: 0 auto !important;
        max-width: 250px;
        text-align: center;
    }
    .flex-block-bottom {
        display: flex;
        align-items: center;
    }
    .ui.breadcrumb a.section, .ui.breadcrumb .icon.divider {
        display: none;
    }
}

.ui.menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 1rem 0;
    font-family: Roboto, Arial, sans-serif;
    background: #fff;
    font-weight: 400;
    border: 1px solid rgba(34, 36, 38, .15);
    -webkit-box-shadow: 0 1px 2px 0 rgba(34, 36, 38, .15);
    box-shadow: 0 1px 2px 0 rgba(34, 36, 38, .15);
    border-radius: .28571429rem;
    min-height: 2.85714286em
}

.ui.menu:after {
    content: '';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

.ui.menu:first-child {
    margin-top: 0
}

.ui.menu:last-child {
    margin-bottom: 0
}

.ui.menu .menu {
    margin: 0
}

.ui.menu:not(.vertical) > .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.ui.menu:not(.vertical) .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.ui.menu .item {
    position: relative;
    vertical-align: middle;
    line-height: 1;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: 0 0;
    padding: 10px;
    text-transform: none;
    color: rgba(0, 0, 0, .87);
    font-weight: 400;
    -webkit-transition: background .1s ease, color .1s ease, -webkit-box-shadow .1s ease;
    transition: background .1s ease, color .1s ease, -webkit-box-shadow .1s ease;
    transition: background .1s ease, box-shadow .1s ease, color .1s ease;
    transition: background .1s ease, box-shadow .1s ease, color .1s ease, -webkit-box-shadow .1s ease
}

.ui.menu > .item:first-child {
    border-radius: .28571429rem 0 0 .28571429rem
}

.ui.menu .item:before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    height: 100%;
    width: 1px;
    background: rgba(34, 36, 38, .1)
}

.ui.menu .item > i.icon {
    opacity: .9;
    float: none;
    margin: 0 .35714286em 0 0
}

.ui.menu a.item:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, .03);
    color: rgba(0, 0, 0, .95)
}

.ui.menu a.item:active {
    background: rgba(0, 0, 0, .03);
    color: rgba(0, 0, 0, .95)
}

.ui.menu .active.item {
    background: rgba(0, 0, 0, .05);
    color: rgba(0, 0, 0, .95);
    font-weight: 400;
    -webkit-box-shadow: none;
    box-shadow: none
}

.ui.menu .active.item:hover {
    background-color: rgba(0, 0, 0, .05);
    color: rgba(0, 0, 0, .95)
}

.ui.menu:not(.vertical) .right.menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto !important
}

.ui.menu .right.menu > .item::before {
    right: auto;
    left: 0
}

.ui.secondary.menu {
    background: 0 0;
    margin-left: -.35714286em;
    margin-right: -.35714286em;
    border-radius: 0;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none
}

.ui.secondary.menu .item {
    -ms-flex-item-align: center;
    align-self: center;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    padding: .78571429em .92857143em;
    margin: 0 .35714286em;
    background: 0 0;
    -webkit-transition: color .1s ease;
    transition: color .1s ease;
    border-radius: .28571429rem
}

.ui.secondary.menu .item:before {
    display: none !important
}

.ui.secondary.menu a.item:hover {
    background: rgba(0, 0, 0, .05);
    color: rgba(0, 0, 0, .95)
}

.ui.secondary.menu .active.item {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: rgba(0, 0, 0, .05);
    color: rgba(0, 0, 0, .95);
    border-radius: .28571429rem
}

.ui.secondary.menu .active.item:hover {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: rgba(0, 0, 0, .05);
    color: rgba(0, 0, 0, .95)
}

.ui.secondary.pointing.menu {
    margin-left: 0;
    margin-right: 0;
    border-bottom: 2px solid rgba(34, 36, 38, .15)
}

.ui.secondary.pointing.menu .item {
    border-bottom-color: transparent;
    border-bottom-style: solid;
    border-radius: 0;
    -ms-flex-item-align: end;
    align-self: flex-end;
    margin: 0 0 -2px;
    padding: .85714286em 1.14285714em;
    border-bottom-width: 2px;
    -webkit-transition: color .1s ease;
    transition: color .1s ease
}

.ui.secondary.pointing.menu .item:after {
    display: none
}

.ui.secondary.pointing.menu a.item:hover {
    background-color: transparent;
    color: rgba(0, 0, 0, .87)
}

.ui.secondary.pointing.menu a.item:active {
    background-color: transparent;
    border-color: rgba(34, 36, 38, .15)
}

.ui.secondary.pointing.menu .active.item {
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #1b1c1d;
    font-weight: 400;
    color: rgba(0, 0, 0, .95)
}

.ui.secondary.pointing.menu .active.item:hover {
    border-color: #1b1c1d;
    color: rgba(0, 0, 0, .95)
}

.ui.inverted.menu {
    border: 0 solid transparent;
    background: #1b1c1d;
    -webkit-box-shadow: none;
    box-shadow: none
}

.ui.inverted.menu .item {
    background: 0 0;
    color: rgba(255, 255, 255, .9)
}

.ui.inverted.menu .item:before {
    background: rgba(255, 255, 255, .08)
}

.ui.inverted.menu a.item:hover {
    background: rgba(255, 255, 255, .08);
    color: #fff
}

.ui.inverted.menu a.item:active {
    background: rgba(255, 255, 255, .08);
    color: #fff
}

.ui.ui.inverted.red.menu {
    background-color: red
}

.ui.inverted.red.menu .item:before {
    background-color: rgba(34, 36, 38, .1)
}

.ui.menu .fitted.item {
    padding: 0
}
.ui.menu .fitted.item .text {
    font-size: 31px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}
.ui.borderless.menu .item:before {
    background: 0 0 !important
}

.ui.pointing.menu .item:after {
    visibility: hidden;
    position: absolute;
    content: '';
    top: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    background: 0 0;
    margin: .5px 0 0;
    width: .57142857em;
    height: .57142857em;
    border: none;
    border-bottom: 1px solid #d4d4d5;
    border-right: 1px solid #d4d4d5;
    z-index: 2;
    -webkit-transition: background .1s ease;
    transition: background .1s ease
}

.ui.pointing.menu .active.item:after {
    visibility: visible
}

.ui.pointing.menu .active.item:hover:after {
    background-color: #f2f2f2
}

.ui.pointing.menu .active.item:after {
    background-color: #f2f2f2
}

.ui.pointing.menu .active.item:hover:after {
    background-color: #f2f2f2
}

.ui.menu {
    font-size: 1rem
}

/*!
 * # Fomantic-UI - Message
 * http://github.com/fomantic/Fomantic-UI/
 *
 *
 * Released under the MIT license
 * http://opensource.org/licenses/MIT
 *
 */

/*!
 * # Fomantic-UI - Table
 * http://github.com/fomantic/Fomantic-UI/
 *
 *
 * Released under the MIT license
 * http://opensource.org/licenses/MIT
 *
 *//*!
 * # Fomantic-UI - Ad
 * http://github.com/fomantic/Fomantic-UI/
 *
 *
 * Copyright 2013 Contributors
 * Released under the MIT license
 * http://opensource.org/licenses/MIT
 *
 */

/*!
 * # Fomantic-UI - Card
 * http://github.com/fomantic/Fomantic-UI/
 *
 *
 * Released under the MIT license
 * http://opensource.org/licenses/MIT
 *
 *//*!
 * # Fomantic-UI - Comment
 * http://github.com/fomantic/Fomantic-UI/
 *
 *
 * Released under the MIT license
 * http://opensource.org/licenses/MIT
 *
 */
.ui.comments {
    margin: 1.5em 0;
    max-width: 650px
}

.ui.comments:last-child {
    margin-bottom: 0
}

.ui.comments .comment {
    position: relative;
    background: 0 0;
    margin: .5em 0 0;
    padding: .5em 0 0;
    border: none;
    border-top: none;
    line-height: 1.2
}

.ui.comments .comment:first-child {
    margin-top: 0;
    padding-top: 0
}

.ui.comments .comment .avatar {
    display: block;
    width: 2.5em;
    height: auto;
    float: left;
    margin: .2em 0 0
}

.ui.comments .comment .avatar img {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    border-radius: .25rem
}

.ui.comments .comment > .content {
    display: block
}

.ui.comments .comment > .avatar ~ .content {
    margin-left: 3.5em
}

.ui.comments .comment .author {
    font-size: 1em;
    color: rgba(0, 0, 0, .87);
    font-weight: 400
}

.ui.comments .comment a.author {
    cursor: pointer
}

.ui.comments .comment a.author:hover {
    color: #1e70bf
}

.ui.comments .comment .metadata {
    display: inline-block;
    margin-left: .5em;
    color: rgba(0, 0, 0, .4);
    font-size: .875em
}

.ui.comments .comment .metadata > * {
    display: inline-block;
    margin: 0 .5em 0 0
}

.ui.comments .comment .metadata > :last-child {
    margin-right: 0
}

.ui.comments .comment .text {
    margin: .25em 0 .5em;
    font-size: 1em;
    word-wrap: break-word;
    color: rgba(0, 0, 0, .87);
    line-height: 1.4
}

.ui.small.comments {
    font-size: .92857143rem
}

.ui.comments {
    font-size: 1rem
}
.ui.shape {
    position: relative;
    vertical-align: top;
    display: inline-block;
    -webkit-perspective: 2000px;
    perspective: 2000px;
    -webkit-transition: left .6s ease-in-out, width .6s ease-in-out, height .6s ease-in-out, -webkit-transform .6s ease-in-out;
    transition: left .6s ease-in-out, width .6s ease-in-out, height .6s ease-in-out, -webkit-transform .6s ease-in-out;
    transition: transform .6s ease-in-out, left .6s ease-in-out, width .6s ease-in-out, height .6s ease-in-out;
    transition: transform .6s ease-in-out, left .6s ease-in-out, width .6s ease-in-out, height .6s ease-in-out, -webkit-transform .6s ease-in-out
}

.ui.shape .sides {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d
}

.ui.shape .side {
    display: none;
    opacity: 1;
    width: 100%;
    margin: 0 !important;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

.ui.shape .side * {
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important
}

.ui.shape .active.side {
    display: block
}

/*!
 * # Fomantic-UI - Sidebar
 * http://github.com/fomantic/Fomantic-UI/
 *
 *
 * Released under the MIT license
 * http://opensource.org/licenses/MIT
 *
 */

/*!
 * # Fomantic-UI - Sticky
 * http://github.com/fomantic/Fomantic-UI/
 *
 *
 * Released under the MIT license
 * http://opensource.org/licenses/MIT
 *
 *//*!
 * # Fomantic-UI - Tab
 * http://github.com/fomantic/Fomantic-UI/
 *
 *
 * Released under the MIT license
 * http://opensource.org/licenses/MIT
 *
 *//*!
 * # Fomantic-UI - Toast
 * http://github.com/fomantic/Fomantic-UI/
 *
 *
 * Released under the MIT license
 * http://opensource.org/licenses/MIT
 *
 *//*!
 * # Fomantic-UI - Transition
 * http://github.com/fomantic/Fomantic-UI/
 *
 *
 * Released under the MIT license
 * http://opensource.org/licenses/MIT
 *
 */

.site-select-menu {
    margin: 0 !important;
    min-height: auto !important;
    margin-top: 10px !important;
    border-color: #fff !important
}

.site-select-menu * {
    color: #9f9c9c !important;
    -webkit-transition: color .2s ease-in-out, background-position .2s ease-in-out;
    -moz-transition: color .2s ease-in-out, background-position .2s ease-in-out;
    transition: color .2s ease-in-out, background-position .2s ease-in-out
}

.site-select-menu .item {
    margin-right: 40px !important;
    padding: 0 0 5px !important
}

.site-select-menu .item .icon {
    float: left;
    color: red;
    font-weight: 700!important;
}

.site-select-menu .item .text {
    margin-left: 10px;
    text-transform: uppercase
}

.site-select-menu .site-mv .icon {
    background-position: -58px 0
}

.site-select-menu .site-mv.active *, .site-select-menu .site-mv:hover * {
    color: red !important
}

.site-select-menu .site-mv.active .icon, .site-select-menu .site-mv:hover .icon {
    background-position: -58px -29px
}

.site-select-menu .site-mv.active {
    border-color: red !important
}

.site-select-menu .site-mv.active * {
    font-weight: 400
}

.site-select-menu .site-lib .icon {
    background-position: -29px 0;
}

.site-select-menu .site-lib:hover * {
    color: #099 !important
}

.site-select-menu .site-lib:hover .icon {
    background-position: -29px -29px
}

.site-select-menu .site-bz .icon {
    background-position: 0 0
}

.site-select-menu .site-bz:hover * {
    color: #36c !important
}

.site-select-menu .site-bz:hover .icon {
    background-position: 0 -29px
}

/*!
 * animate.css -http://daneden.me/animate
 * Version - 3.7.0
 * Licensed under the MIT license - http://opensource.org/licenses/MIT
 *
 * Copyright (c) 2018 Daniel Eden
 */

body, html {
    height: 100%;
    padding: 0;
    margin: 0
}

.ui .header, h1, h3 {
    font-weight: 400 !important
}

a {
    color: red
}

a:hover {
    color: #861717
}

.small {
    font-size: 85%
}

.spaced-top {
    margin-top: 25px !important
}

.spaced-top-quorter {
    margin-top: 6.25px !important
}

.spaced-bottom {
    margin-bottom: 25px !important
}

.spaced-bottom-quorter {
    margin-bottom: 6.25px !important
}

.spaced-left-half {
    margin-left: 7.5px !important
}

.no-padded {
    padding: 0 !important
}

.no-top-padded {
    padding-top: 0 !important
}

.no-marged {
    margin: 0 !important
}

.clearfix:after, .clearfix:before {
    content: "";
    display: table
}

.clearfix:after {
    clear: both
}

.muted, .muted * {
    color: #bbbfbf
}

.aligned.center {
    text-align: center
}

.aligned.right {
    text-align: right
}

@media (max-width: 767px) {
    .no-mobile {
        display: none !important
    }
}

.flex-block {
    display: flex !important;
    min-height: 100% !important;
    flex-direction: column !important;
    -webkit-flex-direction: column !important;
    -ms-flex-direction: column !important
}

.max-height {
    -webkit-box-flex: 1;
    -webkit-flex: auto;
    -ms-flex: auto;
    flex: auto
}

.ui {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important
}

.ui * {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important
}

.ui.button.big {
    font-weight: 400
}

.ui.button.circular {
    border-radius: 50% !important
}

.ui.breadcrumb a {
    color: red
}

.ui.breadcrumb a:hover {
    color: #861717
}

.ui.comments {
    max-width: none !important
}

.avatar, .avatar img {
    border-radius: 500rem !important
}

h1.ui.header {
    font-weight: 400 !important;
    font-size: 20pt;
    text-transform: uppercase;
    border-bottom: 3px solid red;
    padding-bottom: 2px;
    padding-left: 20px;
    margin-bottom: 15px
}

h1.ui.header.full-page {
    font-size: 24pt
}

h1.ui.header.full-page {
    text-transform: none;
    border-bottom: 0;
    font-weight: 400 !important;
    padding-left: 0
}

h3.ui.header {
    line-height: 110% !important
}

#tagline-bottom {
    text-align: center;
    text-transform: uppercase;
    font-size: 14.5px;
    color: #1b1c1d
}

.thumbnail-block img {
    display: inline-block;
    margin: 0 auto
}


h1, h3 {
    font-weight: 400 !important
}

h3 * {
    font-weight: 400 !important
}

strong {
    font-weight: 400 !important
}

body {
    color: #3a3939
}

#menu-top {
    min-height: 74px;
    margin: 0
}

@media (min-width: 768px) and (max-width: 991px) {
    #menu-top {
        margin-left: -20px;
        margin-right: -20px
    }
}

@media (max-width: 767px) {
    #menu-top-container {
        margin-right: 0 !important;
        margin-left: 0 !important
    }
}

#header {
    z-index: 2
}

@media (max-width: 767px) {
    #pusher {
        display: block !important
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    #pusher {
        display: block !important
    }
}

@media (max-width: 767px) {
    #logo {
        width: 180px
    }
}

#logo:hover {
    background-color: inherit
}

#tagline {
    display: none;
    text-transform: uppercase
}

@media (min-width: 992px) {
    #tagline {
        display: flex
    }
}

#sidebar-toggle {
    margin-right: 3px
}

@media (min-width: 992px) {
    #sidebar-toggle {
        margin-left: -20px
    }
}

#sidebar-toggle .icon {
    color: #fff;
    margin: 0
}

#menu-top-container {
    overflow: visible
}

.breadcrumbs-block {
    margin-top: 25px;
    padding-top: 0 !important;
    padding-bottom: 25px;
}

.breadcrumbs-block .breadcrumb {
    margin-bottom: 0 !important
}

.ui.breadcrumb a {
    color: #bbbfbf
}

.ui.breadcrumb .active {
    font-weight: 400 !important
}

.ui .menu .item, .ui.menu .item {
    font-weight: 300 !important
}

.ui .menu.secondary .item.active, .ui .menu.secondary .item:hover, .ui.menu.secondary .item.active, .ui.menu.secondary .item:hover {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important
}
.no-padding {
    padding-left: 0 !important;
    margin: 0 !important;
}
.red {
    color: red;
}

.clip-box {
    display: inline-block;
}

.clip-box img {
    display: block;
}

.control-btns {
    display: flex;
    align-items: center;
}

.clip__link {
    margin-left: 10px;
    width: 20px;
}

.control-btns {
    margin: 20px 0 !important;
}

.control-btns a {
    margin: 0 !important;
}

#copyright {
    padding: 20px 0 !important;
}

.ib {
    display: inline-block;
}

.product-link {
    font-weight: inherit;
}

.footer-flex {
    padding-left: 15px !important;
}

@media screen and (max-width: 991px){
    .social {
        display: none !important;
    }

    .ui.grid > [class*="ten wide"].column {
        width: 100% !important;
    }

}


@media screen and (max-width: 767px) {
    .mobile-footer {
        display: flex;
        flex-direction: column;
    }

    .mobile-footer a.red {
        order: 2;
        line-height: 1;
        padding: 0;
        margin-top: 5px;
    }

    img.ui.image-product {
        padding-left: 20px;
    }

    p {
        text-align: left;
    }

}

@media screen and (max-width: 479px){
    .ui.basic.segment {
        padding-left: 10px;
        padding-right: 10px;
    }

    h1.ui.header.full-page {
        font-size: 28px;
    }
}